__pycache__/
*.py[cod]
*$py.class

.vscode/
ws.code-workspace

converter-env/
poppler-24.08.0

tests
sample_input
sample_output
build_output
build_temp
distribution

*.spec
*.egg-info/
*.pdf
*.xls
*.xlsx
*.csv
*.ico
*.log
*.exe

pdf_converter_app/pdf_processor.py